@import url("https://fonts.googleapis.com/css2?family=Mitr&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: Mitr, sans-serif;
  font-size: 18px;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.bt-nav {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  font-family: Mitr;
}
.bg-Welcome {
  position: absolute;
  z-index: -1;
  top: 12%;
 
}
